<meta charset="UTF-8" />

<h1>PROGRAMA JUEGO DE ADIVINACION</h1>

<script>
  function saltarlinea() {
    document.write("<br>");
    document.write("<hr>");
    document.write("<br>");
  }

  function imprimir(frase) {
    document.write(frase);
    saltarlinea();
  }

  var anhoMundial = 1930;
  var limite = parseInt(prompt("Ingrese el año limite para calcular"));

  while (anhoMundial <= limite) {
    imprimir("Hubo mundial de la FIFA en el año " + anhoMundial);
    anhoMundial = anhoMundial + 4;
  }
  alert("FIN");
</script>
