<meta charset="UTF-8" />

<h1>PROGRAMA CALCULAR LA MEDIA DE LAS EDADES DE UNA FAMILIA</h1>

<script>
  function saltarlinea() {
    document.write("<br>");
    document.write("<hr>");
    document.write("<br>");
  }

  function imprimir(frase) {
    document.write(frase);
    saltarlinea();
  }

  for (var lineas = 1; lineas <= 3; lineas++) {
    for (var columnas = 1; columnas <= 10; columnas++) {
      document.write("*");
    }
    saltarlinea();
  }

  saltarlinea();
  saltarlinea();

  imprimir("FIN");
</script>
