<meta charset="UTF-8" />

<h1>PROGRAMA PARA CALCULAR LOS PUNTOS DE UN EQUIPO DE FUTBOL</h1>

<script>
  function saltarlinea() {
    document.write("<br>");
    document.write("<hr>");
    document.write("<br>");
  }

  function imprimir(frase) {
    document.write(frase);
    saltarlinea();
  }

  var victorias = parseInt(prompt("Informe la cantidad de victorias"));
  var empates = parseInt(prompt("Informe la cantidad de empates"));

  var puntosTotal = victorias * 3 + empates;

  imprimir("Cantidad de puntos : " + puntosTotal);

  if(puntosTotal > 28){
    imprimir("El equipo esta mejor que el año pasado");
  }
  if(puntosTotal < 28){
    imprimir("El equipo esta peor que el año pasado");
  }
  if(puntosTotal == 28){
    imprimir("El equipo esta igual que el año pasado");
  }

</script> 
