<meta charset="UTF-8" />

<input />
<button>Verificar si acerto con el secreto</button>

<script>
  function aleatorio() {
    return Math.round(Math.random() * 10);
  }

  function sortearNumeros(cantidad) {
    var secretos = [];
    var contador = 1;
    while (contador <= cantidad) {
      var numeroAleatorio = aleatorio();
      var encontrado = false;
      if (numeroAleatorio != 0) {
        for (var posicion = 0; posicion < secretos.length; posicion++) {
          if (secretos[posicion] == numeroAleatorio) {
            encontrado = true;
            break;
          }
        }
        if (encontrado == false) {
          secretos.push(numeroAleatorio);
          contador++;
        }
      }
    }
    return secretos;
  }

  var secretos = sortearNumeros(4);
  console.log(secretos);

  var input = document.querySelector("input");
  input.focus();

  function verificar() {
    var encontrado = false;
    for (var posicion = 0; posicion < secreto.length; posicion++) {
      if (parseInt(input.value) == secreto[posicion]) {
        alert("Usted acerto");
        encontrado = true;
        break;
      }
    }
    if (encontrado == false) {
      alert("Usted error");
    }

    input.value = "";
    input.focus();
  }

  var button = document.querySelector("button");
  button.onclick = verificar;
</script>
