<meta charset="UTF-8" />

<input />
<button>Verificar si acerto con el secreto</button>

<script>
  var secreto = [3, 5, 7, 9];
  var input = document.querySelector("input");
  input.focus();

  function verificar() {
    var encontrado = false;
    for (var posicion = 0; posicion < secreto.length; posicion++) {
      if (parseInt(input.value) == secreto[posicion]) {
        alert("Usted acerto");
        encontrado = true;
        break;
      }
    }
    if (encontrado == false) {
      alert("Usted error");
    }

    input.value = "";
    input.focus();
  }

  var button = document.querySelector("button");
  button.onclick = verificar;
</script>
