<meta charset="UTF-8" />

<h1>PROGRAMA CALCULAR LA MEDIA DE LAS EDADES DE UNA FAMILIA</h1>

<script>
  function saltarlinea() {
    document.write("<br>");
    document.write("<hr>");
    document.write("<br>");
  }

  function imprimir(frase) {
    document.write(frase);
    saltarlinea();
  }

  var numeroDeMiembros = parseInt(
    prompt("Ingrese la cantidad de miembros de su familia")
  );
  var total = 0;
  var contador = 1;
  while (contador <= numeroDeMiembros) {
    var edad = parseInt(prompt("Ingrese la edad del familiar"));
    total = total + edad;
    contador++;
  }

  var mediaEdades = total / numeroDeMiembros;
  imprimir("Media de edades " + mediaEdades);
</script>
