<meta charset="UTF-8" />

<h1>PROGRAMA TABLA DE MULTIPLICAR</h1>

<script>
  function saltarlinea() {
    document.write("<br>");
    document.write("<hr>");
    document.write("<br>");
  }

  function imprimir(frase) {
    document.write(frase);
    saltarlinea();
  }

  imprimir("WHILE");
  var multiplicador = 1;

  while (multiplicador <= 10) {
    imprimir(5 * multiplicador);
    multiplicador = multiplicador + 1;
  }

  imprimir("FOR");
  for (var multiplicador = 1; multiplicador <= 10; multiplicador++) {
    imprimir(2 * multiplicador);
  }
</script>
