<meta charset="UTF-8" />
<h3>¿Alcohol o Gasolina?</h3>

<script>
  var tanque = 40;

  var caminoConGasolina = 480;
  var consumoDeGasolina = caminoConGasolina / tanque;

  var caminoConAlcohol = 300;
  var consumoDeAlcohol = caminoConAlcohol / tanque;

  document.write(
    "La eficiencia del carro usando gasolina es " + consumoDeGasolina + " km/L"
  );
  document.write("<br>");
  document.write(
    "La eficiencia del carro usando alcohol es " + consumoDeAlcohol + " km/L"
  );
</script>
