<meta charset="UTF-8" />

<h1>PROGRAMA CALCULAR IMC</h1>

<script>
  function saltarlinea() {
    document.write("<br>");
    document.write("<hr>");
    document.write("<br>");
  }

  function imprimir(frase) {
    document.write(frase);
    saltarlinea();
  }

  function calcularIMC(peso, altura) {
    imc = peso / (altura * altura);
    return imc;
  }

  var imcJavier = calcularIMC(69, 1.76);
  var imcDiego = calcularIMC(69, 1.76);

  imprimir(
    "El promedio del imc de Javier y Diego es : " + (imcJavier + imcDiego) / 2
  );

  var nombreInformado = prompt("Informe su nombre");
  var pesoInformado = prompt(nombreInformado + ", informe su peso");
  var alturaInformado = prompt(nombreInformado + ", informe su altura");
  var imcCalculado = calcularIMC(pesoInformado, alturaInformado);

  imprimir(nombreInformado + ", su imc calculador es : " + imcCalculado);
</script>
