<meta charset="UTF-8" />
<script>
  function saltarLinea() {
    // saltando cinco lineas
    document.write("<br>");
    document.write("<br>");
    document.write("<br>");
    document.write("<hr>");
    document.write("<br>");
    document.write("<br>");
  }

  function imprimir(frase) {
    document.write("<big>" + frase + "</big>");
    saltarLinea();
  }
</script>
