<meta charset="UTF-8" />

<h1>primer programa HTML</h1>
<br />
sera esto realmente un programa? descubralo
<a href="http://es.wikipedia.org/wiki/HTML">aqui</a>
<br />
ingresa <a href="http://es.wikipedia.org/wiki/JavaScript">aqui</a> para ver un
verdadero lenguaje de programacion

<script>
  alert("Esto si es un leguaje de programacion");
</script>
