<meta charset="UTF-8" />

<h1>PROGRAMA</h1>

<script>
  function saltarlinea() {
    document.write("<br><hr>");
  }

  function imprimir(frase) {
    document.write(frase);
    saltarlinea();
  }

  var anho = 2020;

  imprimir("Juena tiene: " + (anho - 2000) + " años");
  imprimir("Pedro tiene: " + (anho - 1995) + " años");
  imprimir("Carlos tiene: " + (anho - 2005) + " años");

  anho = 2022;

  imprimir("Jimena tiene: " + (anho - 2010) + " años");
  imprimir("Paola tiene: " + (anho - 1995) + " años");
  imprimir("Laura tiene: " + (anho - 2005) + " años");

  var edadJimena = 10;
  var edadPaola = 25;
  var edadLaura = 15;

  var nombre1 = "Jimena";
  var nombre2 = "Paola";
  var nombre3 = "Laura";

  var promedio = (edadJimena + edadLaura + edadPaola) / 3;

  imprimir(
    "El promedio de las edades de " +
      nombre1 +
      ", " +
      nombre2 +
      " y " +
      nombre3 +
      " es: " +
      Math.round(promedio)
  );
</script>
