<canvas width="900" height="600"> </canvas>

<script>
  var pantalla = document.querySelector("canvas");
  var pincel = pantalla.getContext("2d");

  pincel.fillStyle = "lightblue";
  pincel.fillRect(0, 0, 900, 200);

  pincel.fillStyle = "white";
  pincel.fillRect(0, 200, 900, 200);

  pincel.fillStyle = "lightblue";
  pincel.fillRect(0, 400, 900, 200);

  // Triangulo
  /*
  pincel.fillStyle = "yellow";
  pincel.beginPath();
  pincel.moveTo(450, 300);
  pincel.lineTo(300, 600);
  pincel.lineTo(600, 600);
  pincel.fill();
  */

  // Circunferencia
  pincel.fillStyle = "yellow";
  pincel.beginPath();
  pincel.arc(450, 300, 52, 0, 2 * 3.14);
  pincel.fill();

  //Triangulo superior
  pincel.beginPath();
  pincel.moveTo(450, 230);
  pincel.lineTo(400, 300);
  pincel.lineTo(500, 300);
  pincel.fill();

  //Triangulo inferior
  pincel.beginPath();
  pincel.moveTo(450, 370);
  pincel.lineTo(400, 300);
  pincel.lineTo(500, 300);
  pincel.fill();

  //Triangulo lateral derecho
  pincel.beginPath();
  pincel.moveTo(520, 300);
  pincel.lineTo(450, 250);
  pincel.lineTo(450, 350);
  pincel.fill();

  //Triangulo lateral izquierdo
  pincel.beginPath();
  pincel.moveTo(380, 300);
  pincel.lineTo(450, 250);
  pincel.lineTo(450, 350);
  pincel.fill();

  //Puntas Noreste, Noroeste, Sureste, Suroeste
  pincel.fillRect(405, 255, 90, 90);
</script>
