<canvas width="600" height="400"> </canvas>

<script>
  var pantalla = document.querySelector("canvas");
  var pincel = pantalla.getContext("2d");
  pincel.fillStyle = "white";
  pincel.fillRect(0, 0, 600, 400);
  pincel.fillStyle = "black";
  pincel.strokeRect(0, 0, 600, 400);
  var colores = ["black", "white"];
  var indiceColorActual = 0; // comienza con blue

  habilitado = false;

  function habilitar() {
    habilitado = true;
  }

  function deshabilitar() {
    habilitado = false;
  }

  function dibujarCirculo(evento) {
    if (habilitado) {
      var x = evento.pageX - pantalla.offsetLeft;
      var y = evento.pageY - pantalla.offsetTop;
      pincel.fillStyle = colores[indiceColorActual];
      pincel.beginPath();
      pincel.arc(x, y, 10, 0, 2 * 3.14);
      pincel.fill();
    }
  }

  pantalla.onmousedown = habilitar;
  pantalla.onmouseup = deshabilitar;
  pantalla.onmousemove = dibujarCirculo;

  function alterarColor() {
    indiceColorActual++;
    if (indiceColorActual >= colores.length) {
      indiceColorActual = 0; //vuelve al color inicial
    }
    return false;
  }

  pantalla.oncontextmenu = alterarColor;
</script>
